extends ../layout

block title
	title Actualización empleado

block content
	section.container
		header
			h3 Actualización empleado
		div
			a(href="/employees") Atras
		hr
		article.well.well-lg
			form(name="formEmployee", method="POST")
				div.form-group
					label(for="name") Nombre
					input.form-control#name(type="text", name="name", maxlength="30", required, autofocus, value=employee.name)
				div.form-group
					label(for="cc") Cédula
					input.form-control#cc(type="text", name="cc", required)
				div.form-group
					label(for="telephone") Teléfono
					input.form-control#telephone(type="text", name="telephone", maxlength="7", pattern="[0-9]{7}", title="Ingrese un teléfono válido", required, value=employee.telephone)
				div.form-group
					label(for="mobile") Celular
					input.form-control#mobile(type="text", maxlength="10", pattern="[0-9]{10}", title="Ingrese un número válido", name="mobile", required)
				input.btn.btn-success#guardar(type="submit", value="Guardar")

