mixin generate_form(employee)
	form(name="formEmployee", method="POST")
		div.form-group
			label(for="name") Nombre
			input.form-control#name(type="text", name="name", value=employee.name, maxlength="30", required, autofocus)
		div.form-group
			label(for="cc") Cédula
			input.form-control#cc(type="text", name="cc", required, value=employee.cc)
		div.form-group
			label(for="telephone") Teléfono
			input.form-control#telephone(type="text", name="telephone", value=employee.telephone, maxlength="7", pattern="[0-9]{7}", required)
		div.form-group
			label(for="mobile") Celular
			input.form-control#mobile(type="text", value=employee.mobile, maxlength="10", pattern="[0-9]{10}", title="Ingrese un número válido", name="mobile", required)
		input.btn.btn-success#guardar(type="submit", value="Guardar")