extends ../layout

block title
	title Lista de empleados

block content
	section.container
		header
			h3 Empleados
		div
			a.btn.btn-default(href="/employees/new") Registrar
		hr
		article
			table.table.table-striped
				tr.info
					th Cédula
					th Nombre
					th Teléfono
					th Celular
					th Editar
					th Eliminar
				if employees	
					each employee in employees
						tr
							td= employee.cc
							td= employee.name
							td= employee.telephone
							td= employee.mobile
							td
								a.btn.btn-default(href="/employees/"+employee._id+"/edit"): span.glyphicon.glyphicon-pencil
							td
								a.btn.btn-default(href="/employees/"+employee._id+"/delete"): span.glyphicon.glyphicon-trash 
