extends ../layout

block content
	section.container
		header 
			h3 Editar #{plot.name}

		hr

		article.well.well-lg
			form(method="POST")
				div.form-group
					label(for="name") Nombre de Parcela
					input#name.form-control(name="name", type="text", required, value=plot.name)
				div.form-group
					label(for="area") &Aacute;rea de Parcela
					input#area.form-control(name="area", type="number", required, value=plot.area)
				div.form-group
					input.btn.btn-success(type="submit", value="Guardar")
					a.btn.btn-danger(href="/blocks/"+plot.block_id) Cancelar
