mixin generate_form(employees)
	form(name="formCosecha", method="POST")
		div.form-group
			label(for="cantidad") Cantidad Cosecha
			input.form-control#cantidad(type="text", name="amount")
		div.form-group
			label(for="Usuario") Usuario
			select.form-control#usuario(name="employee")
				each employee in employees
					option(value=employee._id) #{employee.name}
		input.btn.btn-success#guardar(type="submit", value="Guardar")
