extends ../layout

block title
	title Lista de cosechas

block content
	section.container
		header
			h3 Cosechas
		div
			a(href="/harvests/new") Registrar

		hr
		article
			table.table.table-striped
				tr.info
					th Cantidad
					th Parcela
					th Usuario
					th Fecha
				tr
					td
					td
					td
					td
