extends ../layout

include form

block content
	section.container
		header
			h3 Registro de cosecha
		div
			span.glyphicon.glyphicon-arrow-left 
				a(href="/harvests") Atras
		hr
		article.well.wel-lg
			+generate_form(plots,employees)


