extends ../layout

include form

block content
	section.container
		header
			h3 Registro de cosecha
			a.btn.btn-default(href="/harvests"): <span class="glyphicon glyphicon-arrow-left"></span> Atras 

		hr

		article.well.wel-lg
			+generate_form(employees)


