extends ../layout

block title
	title Cosecha

block content
	section.container
		header
			h1 Registro de cosecha
		div
			a(href="/harvests/"+post._id+'/edit') Editar
			span  | 
			a(href="/harvests/"+post._id+'/delete') Eliminar
			span  | 
			a(href="/harvests") Atras
		hr
		article.well.well-lg
			div.page-header
				h3 Cosecha
			form(name="formCosecha", method="POST")
				div.form-group
					label(for="Cantidad") Cantidad Cosecha
					input.form-control#cantidad(type="text", name="Cantidad", placeholder="Cantidad")
				div.form-group
					label(for="parcela") Parcela
					select.form-control#parcela(name="parcela")
				div.form-group
					label(for="Usuario")
					select.form-control#usuario(name="usuario")
				input.btn.btn-success#guardar(type="submit", value="Guardar")
				button.btn.btn-success Editar
				button.btn.btn-success Elimnar
		article
			table.table.table-striped
				tr.info
					th Cantidad
					th Parcela
					th Usuario
					th Fecha
				tr
					td
					td
					td
					td