doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		block title
			title Sipcoffee
		link(rel="stylesheet", href="/styles/bootstrap.min.css")
		script(src="/scripts/jquery-2.1.3.min.js")
		script(src="/scripts/bootstrap.min.js")

	body
		block content
