extends ../layout

block title
	title Salidas

block content
	section.container
		header
			h1 Registro de salidas
		div
			a(href="/outputs/"+post._id+'/edit') Editar
			span  | 
			a(href="/outputs/"+post._id+'/delete') Eliminar
			span  | 
			a(href="/outputs") Atras
		hr
		article.well.well-lg
			div.page-header
				h3 Salidas
			form(name="formSalidas", method="POST")
				div.form-group
					label(for="cantidad") Cantidad
					input.form-control#cantidad(type="text", name="cantidad", placeholder="Cantidad")
				div.form-group
					label(for="producto") Producto
					select.form-control#producto(name="producto")
				div.form-group
					label(for="usuario") Usuario
					div.input-group
						input.form-control#usuario(type="text", name="usuario", placeholder="usuario")
						span.input-group-addon $
				div.form-group
					label(for="comentario") Comentario
					textarea.form-control#comentario(name="comentario", row="3")
				input.btn.btn-success#guardar(value="Guardar")
		article
			table.table.table-striped
				tr.info
					th Cantidad
					th Producto
					th Usuario
					th Fecha
					th Comentario
				tr
					td
					td
					td
					td
					td